/* css componenti importanti */
:root{
  --sfondochiaro: #F5F5F5;
  --sfondoscuro: #242423;
  --arancone: #F49F0A;
  --grigiochiaro: #383837;
  --giallo: #F9DD4D;
}

.light{
  background-color: rgb(235, 235, 239);
}
/* il nostro colore di sfondo card e footer */

/* .naviconcolor{
  background-color: #ced9e6;
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.2), rgba(0, 118, 189, 0.2), transparent 50%);
} */
.btn-colorPersonal{
  background-color:  #4388ee !important;
}
.btn-colorPersonal2{
 background-color:  #bdbb49 !important;
}

.btn-radius{
  border-radius: 20px;
  font-weight: bolder;
  color: whitesmoke;

}
.btn-radius:hover{
  color: gray;
}

.btn-secondary{
  border-radius: 20px;
  font-weight: bolder;
  color: whitesmoke;
}

.body{
  margin-left: 500px;
  transition: 0.2s all ease-in-out;
}
@media (max-width: 768px) {
  .body{
   margin-left: 0;
   padding-left: 0;
   margin-right: 1px;
  }
}

@media screen and (max-width: 721px) {
    .waves {
      width: 280px;
      height: 100px;
    }
  .sdnotshow{
    display: none;
  }
}
/* piccola card a scroll orrizzontale */
.scrolling-wrapper {
  overflow-x: scroll;
  white-space: nowrap;
}










/* css card-scroll */
.card {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}

.l-bg-blue-dark {
  background: linear-gradient(to right, #5a6e93, #4388ee) !important;
  color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
  font-size: 110px;
}

.card .card-statistic-3 .card-icon {
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  color: #000;
  position: absolute;
  right: -5px;
  top: 20px;
  opacity: 0.1;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}

.l-bg-orange {
  background: linear-gradient(to right, #bdbb49, #858427) !important;
  color: #fff;
}



/* waves css */

.waves {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 50%;
	margin: auto 0;
}


/* se si vuole mettere titolo nell'onda */
.waveTitol {
  position: absolute;
  top: 0;
  margin: 250px 10vw;
  max-width: 60vw;
  background-color: transparent;
}
.underlineTitol {
text-decoration: underline;
}

.text {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	width: 83%;
	height: 100%;
	margin: auto;
}

img, svg {
	display: block;
	pointer-events: none;
}



/* intestazione welcome */
a{
  text-decoration:none
}
.header{
  position:relative;
  top: -24px;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:80vw;
  min-height:400px;
  max-height:600px;
  min-width:300px;
  color:#eee;
}
.header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
  scale:(1.0, 1.0);
    transform: translateZ(0);
  background:#1B2030 url(https://images.unsplash.com/photo-1571993142257-eae0b44cf0f1?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ) 50% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 230s  linear 10ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
}
.header a{
  color:#eee
}

.logo{
  border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline-flex;
  align-items:center;
  align-content:center;
  margin:20px;
  padding:0px 10px;
  font-weight:900;
  font-size:1.1em;
  line-height:1;
  box-sizing:border-box;
  height:40px
}
.sides, .info{
  flex: 0 0 auto;
  width:50%
}
.info{
  width:100%;
  padding:12% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.author{
  display:inline-block;
  width:50px;
  height:50px;
  border-radius:50%;
  background:url(https://.ispinner.imgur.com/6DLCsZcb.jpg) center no-repeat;
  background-size:cover;
  box-shadow:0 2px 3px rgba(0,0,0,0.3);
  margin-bottom:3px
}


@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}










/* spinner css */
.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  transition: opacity 5s, visibility 3.5s;
}

.loader-hidden{
   opacity: 0;
   visibility: hidden;
}

.loader::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #a22222;
  border-radius: 50%;
  animation: loading 3s ease infinite;
  transition: opacity 3s, visibility 2s;
}

@keyframes loading {
  from{
      transform: rotate(1turn)
  }
}








/* footer */
footer{
  width: 100%;
  /* position: absolute; */
  bottom: 0;
  background-color: #ced9e6;
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.2), rgba(0, 118, 189, 0.2), transparent 50%);
  padding: 30px 0 8px;
  border-top-right-radius: 75px ;
  
  /* font-size:18px; */
  /* line-height:20px; */
}

.riga{

  margin: 10px;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  justify-content: space-between;
} 

.colonna{

  padding: 1px;
  color: gray;
}
/* prima sezione */
.icona{
  height: 50px;
  width: 35px;
}

.indirizzo{
  text-decoration: none;
  color: gray;
}

.indirizzo:hover{
  color: rgb(240, 240, 240);
}

.hackademy{
  color: gray;
  text-decoration: none;
}

.hackademy:hover{
  color: rgb(240, 240, 240);
}

.underlinegrande{
  position: relative;
  right: 35%;
  width: 98%;
}
/* seconda sezione e animazioni */
.informazioni{
  text-align: center;
}

.underline{
  width: 25%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  margin-left: 0%;
  margin-bottom: 5%;
}

#movimento{
  animation-name: moving;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes moving {
  0%{
      transform: translateX(-450%);
  }
  100%{
      transform: translateX(450%);
  }
}

.linea{
  animation-name: moving;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation: linear;
  display: flex;
  width: 10%;
  height: 5px;
  background: #efeeee;
  border-radius: 3px;
  margin-left: 40%;
  
}

.social {
  color: gray;
  font-size: medium;
  direction:rtl ;
}

.immagine{
  width: 90%;
  display: flex;
  justify-content: center;
  
}

.network{
  color: white;
}

.network:hover{
  color:black
}

.network:visited{
  color:white
}

/* media queries */
@media screen and (max-width:576px) {
  .posizione{
      position: relative;
      right: 23%;
  }

  .logofooter{
      display: none;
  }
  .social {
      display: flex;
      justify-content: center;
      margin: auto;
  }
  .profilo {
      display: none;

  }
  
}








/* meteo widget */
.meteo{
  position: absolute;
  top: 460px;
  right: 20px;
  width: 250px;
}
.meteo2{
  position: absolute;
  top: 225px;
  right: 20px;
  width: 250px;
}
@media not screen and (min-width: 721px) {
  .meteo{
    position: static;
    background-color: rgba(72, 70, 70, 0.487);
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .meteo2{
    position: static;
    background-color: rgba(72, 70, 70, 0.487);
    display: flex;
    justify-content: center;
    width: 100%;
  }
}







/* show css */
.altezza{
  height: 50vh;
}
.contentShow{
	margin: 0 auto;
	max-width: 90%;
	width: 720px;
}
.mainShow{
	padding: 1% 0;
	position: relative;
	background: rgb(235, 235, 239);
	box-shadow: 0px -10px 60px rgba(0,0,0,0.25);
		height: 100%;
}

.zoom{
	overflow: hidden;
	padding-bottom: 55%;
}
.zoom img{
	position: fixed;
	top: 0%;
	left: 50%;
	max-width: 200%;
	width: 100%;
	transform: translateX(-50%);

}
@media (max-width: 667px) {
	
	.content{
		margin: 0 auto;
		max-width: 90%;
		width: 100%;
		height: 100%;
		text-align: justify;
	}
	.zoom{
		overflow: hidden;
		padding-bottom: 75%;
	}

}
.focus{
  background: linear-gradient(120deg , rgba(0,0,0,1) , rgba(0,0,0,1)) !important;
  opacity: 0.2;

}
