

.body{
  margin-left: 20%;
}
li{
    text-decoration: none;
    list-style-type: none;
}
h2{
    background-image: linear-gradient(to right, #b74ce5, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     font-weight: 700;
}
h3{
  font-weight: 900;
}

a{
  text-decoration: none;
}

#navbar{
    height: 100vh;
    width: 20%;
    background-color: white;
    box-shadow:  13px 13px 26px #dbdbdb,
    -13px -13px 26px #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
}
.gost{
    height: 100%;
    width: 20%;
}

.button {
    font-size: 18px;
    color: #000;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }

  .button:focus,
  .button:hover {
    color: #b74ce5;
  }

  .button:focus:after,
  .button:hover:after {
    width: 100%;
    left: 0%;
  }

  .button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }


 

  /* burgher menu */
  .burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }

  @media screen and (max-width: 900px){

    .padding{
        margin-top: 70%;

      }

    .paddingL{
        margin-top: 170%;
        margin-bottom: 30%;

      }
        .navbar-expand-lg .navbar-toggler {
         display: flex;
    }
    .navbar-expand-lgMIA{
        display: none;
    }
    .body{

      margin-left: 0%;
     
     }
     .formRegLog{

      height: 79vh !important;
      width: 90vw !important;
    /* Rectangle 67 */
    margin-top: auto;
    margin-bottom: 9.5vh;
    width: 67%;
    height: 67vh;
    
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    }

    .formRegLog:hover{


      height: 70vw;
/* Rectangle 67 */
margin-top: auto;
margin-bottom: 17.5vh;
width: 67%;
height: 67vh;

background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
transition: all 0.4s ease-in-out;
    
    }
    
  }

  /* form */

.formRegLog{

  height: 70vw;
/* Rectangle 67 */
margin-top: auto;
margin-bottom: 17.5vh;
width: 67%;
height: 67vh;

background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
transition: all 0.4s ease-in-out;
/* box-shadow: inset 5px 5px 10px #c4c4c4,
            inset -5px -5px 10px #ffffff; */
}
.formRegLog:hover{


  height: 70vh !important;
/* Rectangle 67 */
margin-top: auto;
margin-bottom: 17.5vh;
width: 50%;
height: 67vh;

background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;

}

  .radius{
    border-radius: 20px;
  }
  .font-bold{
    font-weight: 600;
  }
  a{
    text-decoration: none;
  }
.border{
  border: #000 solid 1px !important;
}
/* .preview{
  width: 30vw;
  height: 40vh;
  transition: all 1s ease-in-out ;
  border-radius: 20px;
} */
#preview {
  height: 70vh;
  width: 20vw;
  opacity: 0;
  /* position: absolute; */
  right: 0;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  transition: opacity 0.3s ease;
}

#preview.show {
  opacity: 1;
}